<div>
  <h2 id="page-heading" data-cy="LiveHeading">
    <span jhiTranslate="blwAuthApp.live.home.title">Lives</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="blwAuthApp.live.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-live"
        [routerLink]="['/live/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="blwAuthApp.live.home.createLabel"> 创建新 Live </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="lives?.length === 0">
    <span jhiTranslate="blwAuthApp.live.home.notFound">No Lives found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="lives && lives.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="blwAuthApp.live.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="polyvId">
            <div class="d-flex">
              <span jhiTranslate="blwAuthApp.live.polyvId">Polyv Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="startTime">
            <div class="d-flex">
              <span jhiTranslate="blwAuthApp.live.startTime">Start Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="endTime">
            <div class="d-flex">
              <span jhiTranslate="blwAuthApp.live.endTime">End Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let live of lives; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/live', live.id, 'view']">{{ live.id }}</a>
          </td>
          <td>{{ live.name }}</td>
          <td>{{ live.polyvId }}</td>
          <td>{{ live.startTime | formatMediumDatetime }}</td>
          <td>{{ live.endTime | formatMediumDatetime }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/live', live.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">查看</span>
              </button>

              <button type="submit" [routerLink]="['/live', live.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">编辑</span>
              </button>

              <button type="submit" (click)="delete(live)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">删除</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
